



.App {
  display: grid;
  min-height: 100vh;
  grid-template-columns:  20% auto 20%;
  grid-template-rows: 20% auto 20%;
  grid-template-areas: 
  'logo title button'
  'sidebar1 content1 sidebar2'
  'sidebar1 content2 sidebar2'
  'sidebar1 content2 sidebar2';
  grid-gap: 10px;
  background-color: #1d3557;
  padding: 10px;
  border-style: dashed;
}

img {
  height: 100%;
  width: 1fr;
  border-radius: 15px;
}

button {

  font-weight: 1000; 
  border-radius: 20px;
}

.grid-item {
  text-align: center;
  color: #a8dadc;

}


.box{
  background-color: #457b9d;
  border-radius: 15px;
  padding: 5px;
}

#box{
  background-color: #457b9d;
  border-radius: 15px;
  padding: 5px;
}

#box1{
  background-color:#1d3557;
  border-radius: 15px;
  padding: 5px;
}


#page3 {
  justify-content: center;
  align-content: center;
}

h1 > #logo {
  background-color: #457b9d;
  border-radius: 15px;
}
/* colors
#e63946 - Red
#f1faee - White
#a8dadc - Light Blue
#457b9d - Medium Blue
#1d3557 - Deep Blue
*/

#logo {  grid-area: logo; align-items: center;  }
#title {  grid-area: title;  }
#button { grid-area: button; color:#e63946; }
#content1 {  grid-area: content1;  }
#content2 {  grid-area: content2;  background-color: #457b9d; border-radius: 15px;}
#sidebar1 {  grid-area: sidebar1; display: grid; grid-auto-columns: auto; grid-gap: 10px;  }
#sidebar2 {  grid-area: sidebar2; display: grid; grid-auto-columns: auto; grid-gap: 10px; }


/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/